<h1 class="page-header">Site Settings</h1>
<h5 class="widget">
  <%= link_to '<i class="fa fa-reply"></i> Back'.html_safe , settings_path  %> 
</h5>

<section class="widget">
	<div class="panel-body">
		<h4>Edit "<%= @setting.name %>"</h4>

		<%= render :partial => 'form' %>

	</div>
</section>
