<h1 class="page-header">Site Settings</h1>

<section class="widget">
	<div class="panel-body">
		<h4>Edit "<%= @setting.name %>"</h4>

		<%= render :partial => 'form' %>

	</div>
</section>


<%= link_to 'Show', @setting %> |
<%= link_to 'Back', settings_path %>
