<h1 class="page-header">Partners</h1>
<section class="widget">
    <div class="panel-body">
    <h4>Editing <%= @partner.partner_name %></h4>
       <%= render 'form' %>
   </div>
</section>


<%= link_to 'Show', @partner %> |
<%= link_to 'Back', partners_path %>
