<h1 class="page-header">Partners</h1>
<section class="widget">
    <div class="panel-body">
        <h4>Create a New Partner</h4>
           <%= render 'form' %>

   </div>
</section>
<%= link_to 'Back', partners_path %>
