<% categories.each do |category| %>
	<tr>
		<td><%= category.category_name %></td>
		<td>
			<% category.children.each do |category_tag| %>
				<% tag = category_tag.tag.where(idea_id: idea_id).first %>
				<% if tag %>
					| <%= category_tag.category_name %> <%= tag[:additional_text] %>
				<% end %>
			<% end %>

		</td>
	</tr>
<% end %>