<%= form_tag({:controller => "ideas", :action => "to_csv_all"}) do %>

    <div class="panel-heading"><i class="fa fa-filter"></i> Export Ideas <i class="fa fa-chevron-down"></i> 
      <div class="panel-body" id="export_idea_body">
      	<p>You can multi-select by <kbd>Ctrl + Click</kbd> on the ideas you would like to export:
        <div id="export_idea">

         <%= select_tag(:e_idea, options_for_select(@ideas.map{|p|[p.summary, p.id]}, selected: :e_idea ), {:multiple => true, :class => "form-control"})%>
         </br>
         <%= submit_tag 'Export', :class => "btn btn-primary" %>
       
        </div>
      </div>
    </div>
<% end %>