<div id="page-wrapper">
<h1>Editing Category</h1>

<%= debug(@poop) %>
<% @poop[:cat_tag].each do |tag| %>
	<li>
		<%= tag %>
	</li>
<% end %>
<% if( @poop[:cat_tag_data]) %>
	<% @poop[:cat_tag_data].each do |tag| %>
		<li>
			<%= tag[0] %> | <%= tag[1] %>
		</li>
	<% end %>
<% end %>

</div>
