<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Idea Editing</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
<%= render 'form' %>

<%= link_to 'Show', @idea %> |
<%= link_to 'Back', ideas_path %>
</div>
