<h1 class="page-header">Ideas <small>Create a New Idea</small></h1>
<h5 class="widget">
    <%= link_to '<i class="fa fa-reply"></i> Back'.html_safe, ideas_path %> 
</h5>

		<%= render 'form' %>

</section>
<%= link_to 'Back', ideas_path %>