<h1 class="page-heading">Categories</h1>

<div class="row">
<div class="col-md-6">
<section class="widget">
	<div class="panel-heading"><i class="fa fa-tags"> New Category</i></div>
	<div class="panel-body">

	<%= render 'form' %>

	</div>

</section>
</div>
</div>
<%= link_to 'Cancel', categories_path %>

