<h1 class="page-header">Statuses <small>stages of an idea</small></h1>
<h5 class="widget">
	<%= link_to '<i class="fa fa-reply"></i> Back'.html_safe, statuses_path %>
</h5>
<section class="widget">
    <div class="panel-body">
        <h4>Edit Stage</h4>
        <%= render :partial => 'form' %>

    </div>
</section>
