<h1 class="page-header">Statuses <small>stage of an idea</small></h1>

<section class="widget">
    <div class="panel-body">
        <h4><%= @status.status %></h4>
        			<p>
				<!-- <strong>Position:</strong> -->
				<%= @status.position %>
			</p>

    </div>
</section>		
<%= link_to 'Edit', edit_status_path(@status) %> | <%= link_to 'Back', statuses_path %>
