<i class = "fa fa-tasks fa-fw"> </i>
<%= activity.owner.first_name if activity.owner%>
<%= activity.owner.last_name if activity.owner%>

added 

<% if activity.trackable%>
   <a href = "/ideas/<%= activity.trackable.id%>" ><%= activity.trackable.summary%></a>
<% else %>
   whick has been removed!!
<% end %>