<i class = "fa fa-edit fa-fw"> </i>
<%= activity.owner.first_name if activity.owner%>
<%= activity.owner.last_name if activity.owner%>

updated 

<% if activity.trackable%>
   <a href = "/ideas/<%= activity.trackable.id%>" ><%= activity.trackable.summary%></a>
<% else %>
   which has been removed!!
<% end %>