<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class = "col-lg-4">
      <div class = "panel panel-primary">
        <div class = "panel-heading"> idea <%= @idea.summary %> has been edited on IdeaTracker</div>
        <div class = "panel-body">
          <p>
            
            <%= @user %> edit the idea <%= @idea.id %> 
          </p>
          <p>
            To login to the site, just follow this link: "http://localhost:3000/ideas/<%= @idea.id%>".
          </p>
        </div>
        <dic class = "panel-footer"> Thanks for using Idea Tracker and have a great day! </div>
      </div>
    </div>  
  </body>
</html>