<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Idea Tracker</h2>
    <p>
      <%= @user %> has edited <a href="http://it.henrychsiao.com/ideas/<%= @idea.id%>"><%= @idea.summary %></a>, an idea that you are subscribed to.
    </p>
    <p>
      Idea Tracker on behalf of The Center of Community Engaged Learning
    </p> 
  </body>
</html>