<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Idea Tracker</h2>
      <p>
      <%=@user.first_name%> thinks that this project is of interest to you!
      </p>
    <p>
      Project: <%= @idea.summary %> </br>
      Description: <%= @idea.description%>  </br>
    </p>

    <p>
      Idea Tracker on behalf of The Center of Community Engaged Learning
    </p> 
  </body>
</html>