<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Idea for YOU!!!</h1>
    <p>
      
      idea <%= @idea.id %> 
      </br>
      <%= @idea.description%> 
    
    </p>
    <p>
      To login to the site, just follow this link: "http://localhost:3000/ideas/<%= @idea.id%>".
    </p>
    <p>Thanks for using Idea Tracker and have a great day!</p>
  </body>
</html>