<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Idea Tracker</h2>
    <p>
      <h3>
      <%=@user.first_name%> thinks that this project is of interest to you!
      </h3>
      </br>
      Project: <%= @idea.summary %> </br>
      Description: <%= @idea.description%>  </br>
    </p>
  </body>
</html>