<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to Idea Tracker, <%= @user %></h2>
    <p>
      You have successfully signed up to Idea Tracker,
      your username is: <%= @user.email %>.<br/>

      To login to the site, just follow this <a href="http://it.henrychsiao.com/">Link</a>.
    </p>
    <p>
      Idea Tracker on behalf of The Center of Community Engaged Learning
    </p> 
  </body>
</html>