<div id="page-wrapper">
<div class="row">
  <h1 class="page-header">Admin Dashboard</h1>

	<tr>      
		<td class="actions">
		    <%= link_to("Show Users", {:controller => 'users', :action => 'index'}, :class => 'action show') %>
		    <%= link_to("Show Regular Dashboard", {:controller => 'dashboard', :action => 'index'}) %>
		</td> 
	</tr>
</div>

</div>