
<h1>Popularity Report</h1>

<div style="width: 300px;">
	<table class="table table-hover" summary="Category List">
	  <thead>
		<tr>
		  <th>Pick a Category</th>
		</tr>
	  </thead>
	  
	  <tbody>
		<% @categories.each do |category| %>
		  <tr onclick="document.location = '/reports/popularity_show/<%= category.id %>';">
			<td><%= category.category_name %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>

<br>
