<h1>Popularity Reports</h1>


<h5 class="widget">
    <%= link_to '<i class="fa fa-reply"></i> Back'.html_safe, {:action => 'popularity_show',:id => @category_child.parent_id} %> 
</h5>

<section class="widget">

	<h2><%= @category_child.category_name %> </h2>
	<%= render 'idea_table' %>

</section>