<h1 class="page-header">Reports</h1>

<section class="widget">

	<div class="panel-heading"><i class="fa fa-bar-chart-o"></i> Popularity Report</div>
	  
	<div class="panel-body">
		<p>The popularity report groups the ideas by the selected category and displays them in order of popularity.
		</p>  
		<table class="table table-hover" summary="Category List">
		  <thead>
			<tr>
			  <th>Pick a Category</th>
			</tr>
		  </thead>
		  
		  <tbody>
			<% @categories.each do |category| %>
			  <tr onclick="document.location = '/reports/popularity_show/<%= category.id %>';">
				<td><%= category.category_name %></td>
			  </tr>
			<% end %>
		  </tbody>
		</table>
	</div>
</section>	
