<h1 class="page-header">Reports <small>stages</small></h1>

<h5 class="widget">
    <%= link_to '<i class="fa fa-reply"></i> Back'.html_safe, {:action => 'status'} %> 
</h5>

<section class="widget">
	<div class="panel-heading"><i class="fa fa-bars"></i> <%= @status.status %></div>
	  
	<div class="panel-body">


<%= render 'idea_table' %>
</div>
</section>



