<section class="widget">
	<div class="panel-heading">My Subscriptions</div>
	<div class="panel-body">
	<table class="table table-hover">
	<%= render "ideas/subscribed_idea" %>
	</table>
	</div>
</section>
