<div id="page-wrapper">
<h1>Success Rate Reports</h1>

System will calculate the success rates of each staff member calculated as the number of matched ideas the staff member had been assigned to divided by the total number of ideas the staff member had been assigned to.

<br>

</div>
