<h1>Success Rate Reports</h1>


<h2>Users</h2>

<table class="table" summary="User list">
<tr class="header">
  <th>Name</th>
  <th>Email</th>
  <th>Success Rate</th>
</tr>
<% if @users %>
<% @users.each do |user| %>
<tr>
  <td><%= user.first_name + " " + user.last_name %></td>
  <td><%= user.email %></td>
  <td>
	0% <!-- TODO -->
  </td>
</tr>
<% end %>
<% end %>
</table>


