<h1>Success Rate Reports</h1>


<h2>Users</h2>

<table class="table" summary="User list">
<tr class="header">
  <th>Name</th>
  <th>Email</th>
  <th>Success Rate</th>
</tr>
<% if @users %>
<% @users.each do |user| %>
<tr>
  <td><%= user.first_name + " " + user.last_name %></td>
  <td><%= user.email %></td>
  <td>
	<% verified = 0 %>
	<% owner_of = 0 %>
	<% @ideas.each do |idea| %>
		<% if idea.user_id == user.id %>
		<% owner_of += 1 %>
			<% if idea.status == @status_size %>
			<% verified += 1 %>
			<% end %>
		<% end %>
	<% end %>
	<% if verified == 0 %>
		0%
	<% else %>
		<%= verified*100/owner_of %>%
	<% end %>
  </td>
  <td><%= link_to("Show",{:action => 'success_rate_show', :id => user.id}, :class => 'action success_rate_show') %>
  </td>
</tr>
<% end %>
<% end %>
</table>


