<h1>Success Rate Report</h1>



<h5 class="widget">
    <%= link_to '<i class="fa fa-reply"></i> Back'.html_safe, {:action => 'success_rate'} %> 
</h5>

<section class="widget">
<h2><%= @user.first_name + " " + @user.last_name %></h2>

<%= render 'idea_table' %>

</section>


