
<h1>Pending Ideas</h1>

The system will then filter the ideas that have been pending for more than the number of days specified by the user. Then the ideas will be sorted by pending time from longest to shortest.

<!-- TODO: turn into rails -->
<div class="field">
	<label>Number of Days</label><br>
	<input type="number"/>
</div>
<div class="actions">
	<input type="submit" value="Submit"/>
</div>
